# ArmA related files
*.pbo
*.bisign
*.bin

# log files
*.log

# some general exceptions to keeps the syncs small and leave unneded files local
*.tga
*.png
!XMS2_Logo_PageHeader.png
*.jpeg
*.jpg
*.jpe
*.ps
*.ps
*.pdn
*.xcf
*.3ds

# specific files
buildScript.cmd

# office files
*.ignore.xlsx

# local sourcefile backups
.backup
.old

*.ignore.*